html,
body {
  background-color: #181818;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#tetris {
  position: absolute;
  padding: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border: 5px solid #fff;
}

#startButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  font-size: 18px;
  background-color: #ff2d55;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  z-index: 1;
  color: white;
}

#startButton:hover {
  background-color: #ff3333;
  font-weight: bold;
}

.hidden {
  display: none;
}

#back-button {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 10px;
  font-size: 16px;
  background-color: #ff2d55;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  color: white;
}

#back-button:hover {
  background-color: #ff3333;
  transform: scale(1.05);
  font-weight: bold;
}